header {
    background: aquamarine;
}

p {
    color: green;
    font-family: "2  Arabic Style", sans-serif;
}

/*Commenting in CSS*/

/* Selecting elements with Class and ID */
.text {
    color: red;
}

#first {
    background-color: yellow;
}

/* Combined classes */
.color-red {
    color: red;
}

.background-yellow {
    background-color: yellow;
}

/* Dependent and multilevel selectors */
.color-red.background-yellow {
    font-weight: bold;
}

#second.bold {
    font-weight: bold;
}

div.background-yellow {
    font-weight: bold;
}

header .color-red {
    font-style: italic;
}

header div .color-red {
    font-style: normal;
}

#third .my-text.color-red {
    font-style: normal;
}